.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  padding: 32px 50px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container_type_preview {
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.modal__caption {
  padding: 4px 8px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border-radius: 8px;
  color: #fff;
  background-color: #212121;
  display: flex;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  width: fit-content;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border-style: none;
  background: none;
  padding: 0px;
}

.modal__close-button_type_preview {
  background-image: url("../images/close-button-light.svg");
  right: -42px;
  top: 0px;
  opacity: 1;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__title {
  max-width: 169px;
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 32x;
  font-weight: 500;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 17.6px;
  opacity: 70%;
  font-weight: 500;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  text-align: center;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
}

.modal__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #212121;
}

@media screen and (max-width: 480px) {
  .modal__content {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close {
    top: 22px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .modal__button {
    max-width: none;
  }

  .modal__image {
    max-height: none;
    max-width: none;
    width: 288px;
    display: flex;
    align-self: center;
  }

  .modal__close_type_image-preview {
    top: -30px;
    right: 0;
  }

  .modal__caption {
    font-size: 19.2px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    position: relative;
    top: 8px;
    right: 12px;
    text-wrap: auto;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }

  .modal__close-button_type_preview {
    top: -42px;
    right: -12px;
  }
}

/* @media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 34px;
  }

  .modal__image {
    max-height: none;
    max-width: none;
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19px;
  }

  .modal__close-button {
    top: 20px;
    right: 20px;
  }

  .modal__input {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }
} */
